/*---------------------------------------
  CUSTOM PROPERTIES ( IMPORT )             
-----------------------------------------*/
@font-face {
  font-family: 'PFBeauSansPro-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('/font/FS_PFBeauSansPro-Bold.otf');
  }
@font-face {
  font-family: 'PFBeauSansPro-Light';
  font-style: normal;
  font-weight: normal;
  src: url('/font/FS_PFBeauSansPro-Light.otf');
  }
@font-face {
  font-family: 'PFBeauSansPro-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('/font/FS_PFBeauSansPro-Regular.otf');
  }
@font-face {
  font-family: 'PFBeauSansPro-SemiBold';
  font-style: normal;
  font-weight: normal;
  src: url('/font/FS_PFBeauSansPro-SemiBold.otf');
  }
/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
  --primary-color-90:                   #620915;
  --primary-color-80:                   #890D1E;
  --primary-color-70:                   #C4132B;
  --primary-color-60:                   #EE0033;
  --primary-color-50:                   #EF404A;
  --primary-color-40:                   #F2666E;
  --primary-color-30:                   #F9B3B7;
  --primary-color-20:                   #FCD9DB;
  --primary-color-10:                   #FEF5F6;
  --secondary-color-100:                #000000;
  --secondary-color-90:                 #3D3D3D;
  --secondary-color-80:                 #44494d;
  --secondary-color-70:                 #949595;
  --secondary-color-60:                 #b5b4b4;
  --secondary-color-50:                 #c8c8c7;
  --secondary-color-40:                 #DDDDDD;
  --secondary-color-30:                 #F2F2F2;
  --secondary-color-20:                 #f7f7f7;
  --secondary-color-10:                 #ffffff;
  --section-bg-color:                   #ffffff;
  --section-bg-color-2:                 #F7F7F7;
  --link-hover-color:                   #EE0033;

  --body-font-family:                     "BeauSansPro", "Sarabun", sans-serif;

  --h1-font-size:                         56px;
  --h2-font-size:                         42px;
  --h3-font-size:                         30px;
  --h4-font-size:                         20px;
  --body-font-size:                       16px;
  --small-font-size:                      14px;
  --button-font-size:                     16px;

  --h1-line-height:                       62px;
  --h2-line-height:                       36px;
  --h3-line-height:                       36px;
  --h4-line-height:                       24px;
  --body-line-height:                     22px;
  --small-line-height:                    16px;
  --button-line-height:                   22px;

  --h1-mob-font-size:                     30px;
  --h2-mob-font-size:                     28px;
  --h3-mob-font-size:                     18px;
  --h4-mob-font-size:                     16px;
  --body-mob-font-size:                   14px;
  --small-mob-font-size:                  12px;
  --button-mob-font-size:                 14px;

  --h1-mob-line-height:                   36px;
  --h2-mob-line-height:                   32px;
  --h3-mob-line-height:                   24px;
  --h4-mob-line-height:                   22px;
  --body-mob-line-height:                 16px;
  --small-mob-line-height:                14px;
  --button-mob-line-height:               26px;

  --border-radius:          2px;

  --font-weight-light:            lighter;
  --font-weight-normal:           normal;
  --font-weight-bold:             bold;

  --font-family-light:            'PFBeauSansPro-Light';
  --font-family-normal:           'PFBeauSansPro-Regular';
  --font-family-semibold:         'PFBeauSansPro-SemiBold';
  --font-family-bold:             'PFBeauSansPro-Bold';
}

html {
  scroll-behavior: smooth !important;
}
body {
  background-color: var(--white-color);
  font-family: var(--body-font-family); 
  font-size: var(--body-font-size);
  font-weight: var(--font-weight-normal);
  line-height: var(--body-line-height);
  letter-spacing: -0.1%;
  color: var(--secondary-color-80);
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}


/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/

h1,
h2,
h3,
h4 {
  color: var(--secondary-color-90);
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-semibold);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

p {
  font-family: var(--body-font-family); 
  font-size: var(--body-font-size);
  font-weight: var(--font-weight-normal);
  line-height: var(--body-line-height);
  letter-spacing: -0.1%;
  color: var(--secondary-color-80);
}

ul li {
  font-family: var(--body-font-family); 
  font-size: var(--body-font-size);
  font-weight: var(--font-weight-normal);
  line-height: var(--body-line-height);
  letter-spacing: -0.1%;
  color: var(--secondary-color-80);
}

a {
  touch-action: manipulation;
  transition: all 0.3s;
  display: inline-block;
  color: var(--secondary-color-90);
  text-decoration: none;
  font-size: var(--button-font-size);
  line-height: var(--button-line-height);
}

a:hover {
  color: var(--primary-color-60);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

.row{
  width: inherit !important;
}
.link-fx-1 {
  color: var(--white-color);
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 32px;
  padding: 0 6px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link-fx-1:hover {
  color: var(--link-hover-color);
}

.link-fx-1:hover::before {
  transform: translateX(17px) scaleX(0);
  transition: transform .2s;
}

.link-fx-1:hover .icon circle {
  stroke-dashoffset: 200;
  transition: stroke-dashoffset .2s .1s;
}

.link-fx-1:hover .icon line {
  transform: rotate(-180deg);
}

.link-fx-1:hover .icon line:last-child {
  transform: rotate(180deg);
}

.link-fx-1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transform-origin: right center;
  transition: transform .2s .1s;
}

.link-fx-1 .icon {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateX(100%) rotate(90deg);
  font-size: 32px;
}

.icon {
  --size: 1em;
  height: var(--size);
  width: var(--size);
  display: inline-block;
  color: inherit;
  fill: currentColor;
  line-height: 1;
  flex-shrink: 0;
  max-width: initial;
}

.link-fx-1 .icon circle {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  transition: stroke-dashoffset .2s;
}

.link-fx-1 .icon line {
  transition: transform .4s;
  transform-origin: 13px 15px;
}

.link-fx-1 .icon line:last-child {
  transform-origin: 19px 15px;
}

/*---------------------------------------
  SECTION               
-----------------------------------------*/
.scroll-container {
  height: 100vh; /* Full viewport height */
  overflow-y: auto; /* Enable vertical scrolling */
  scroll-snap-type: y mandatory; /* Snap vertically */
  scroll-behavior: smooth; /* Smooth scrolling */
  overflow-x: hidden;
}
.scroll-section {
  height: 100vh; /* Full viewport height for each section */
  display: flex;
  scroll-snap-align: start; /* Align sections at the start */
  transition: transform 0.5s ease; /* Smooth transition for background color */
}
.section-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}
.section-padding .text-center{
  padding-bottom: 50px;
}
.section-padding-small {
  padding-top: 32px;
  padding-bottom: 32px;
}
.section-wapper{
  display: flex;
}
.section-wapper .row{
  margin: auto 0px;
}
.section-bg {
  background-color: var(--section-bg-color);
}

.section-overlay {
  background-color: var(--dark-color);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  opacity: 0.35;
}

.section-overlay + .container {
  position: relative;
}

.tab-content {
  background-color: var(--white-color);
  border-radius: var(--border-radius-medium);
  padding: 45px;
}

.nav-tabs {
  background-color: var(--section-bg-color);
  border-radius: var(--border-radius-large);
  border-bottom: 0;
  padding: 15px;
}

.nav-tabs .nav-link {
  border-radius: var(--border-radius-large);
  border: 0;
  padding: 15px 25px;
  transition: all 0.3s;
}

.nav-tabs .nav-link:first-child {
  margin-right: 15px;
}

.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:focus, 
.nav-tabs .nav-link:hover {
  background: var(--white-color);
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
  color: var(--primary-color);
}

.nav-tabs h5 {
  color: var(--p-color); 
  margin-bottom: 0;
}

.nav-tabs .nav-link.active h5,
.nav-tabs .nav-link:focus h5, 
.nav-tabs .nav-link:hover h5 {
  color: var(--primary-color);
}

.col-fit-container{
  padding-left: 0% !important;
  padding-right: 0% !important;
}
/*---------------------------------------
  CUSTOM ICON COLOR               
-----------------------------------------*/
.custom-icon {
  color: var(--secondary-color);
}


/*---------------------------------------
  CUSTOM BUTTON               
-----------------------------------------*/
.custom-btn {
  background-color: var(--primary-color-60);
  border: var(--primary-color-60) solid 0.5px;
  border-radius: var(--border-radius);
  padding: 6.5px 16px;
  text-align: center;
  color: var(--secondary-color-10);
  text-decoration: none !important;
  position: relative;
  transition: all 0.5s;
  min-width: 100px;
  line-height: 22px;
}

.custom-btn:hover {
  background: var(--primary-color-70);
  border: var(--primary-color-70) solid 0.5px;
  color: var(--secondary-color-10);
}

.custom-btn-secondary {
  background-color: var(--secondary-color-10);
  border: var(--secondary-color-40) solid 0.5px;
  border-radius: var(--border-radius);
  padding: 6.5px 16px;
  text-align: center;
  color: var(--secondary-color-90);
  text-decoration: none !important;
  position: relative;
  transition: all 0.5s;
  min-width: 100px;
}

.custom-btn-secondary:hover {
  background: var(--secondary-color-40);
  border: 0.5px solid var(--secondary-color-10);
  color: var(--secondary-color-90);
}

.custom-btn-outline {
  background: transparent;
  border: 0.5px solid var(--secondary-color-10);
  color: var(--secondary-color-10);
}
.custom-btn-outline:hover {
  background: #FFFFFF30;
  color: var(--secondary-color-10);
  border: 0.5px solid var(--secondary-color-10);
}
.custom-btn span{
  line-height: 22px;
  font-family: 'PFBeauSansPro-SemiBold';
  letter-spacing: 0.5px;
  font-size: 15px;
}
/*---------------------------------------
  VIDEO              
-----------------------------------------*/
.video-wrap {
  z-index: -100;
}

.custom-video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}


/*---------------------------------------
  SITE HEADER              
-----------------------------------------*/
.site-header {
  background-color: var(--secondary-color-10);
  padding-top: 12px;
  padding-bottom: 12px;
}


/*---------------------------------------
  NAVIGATION              
-----------------------------------------*/
.sticky-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 58px !important;
}

.sticky-wrapper.is-sticky .navbar {
  background-color: var(--secondary-color-10);
}
.sticky-wrapper .navbar {
  background-color: var(--secondary-color-10);
  padding: 5px 1rem;
}

.navbar {
  background: transparent;
  z-index: 9;
}
.navbar-brand {
  margin-top: -5px;
}
.navbar-brand,
.navbar-brand:hover {
  color: var(--white-color);
  font-size: var(--h5-font-size);
  font-weight: var(--font-weight-bold);
}

.navbar-expand-lg .navbar-nav .nav-link {
  margin: 13px;
  padding: 0px;
  line-height: 22px;
  font-family: 'PFBeauSansPro-SemiBold';    
  letter-spacing: 0.5px;
  font-size: 15px;
}

.navbar-nav .nav-link {
  display: inline-block;
  color: var(--secondary-color-90);
  font-size: var(--button-font-size);
  font-weight: var(--font-weight-bold);
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-nav .nav-link.active, 
.navbar-nav .nav-link:hover {
  color: var(--primary-color-60);
}

.navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 35px;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--secondary-color-90);
  transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--secondary-color-90);
  width: 30px;
  height: 2px;
  content: '';
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}


/*---------------------------------------
  HERO        
-----------------------------------------*/
.hero-section {
  position: relative;
  overflow: hidden;
  padding-top: 100px;
  height: calc(100vh - 160px);
}

.hero-section small {
  color: var(--secondary-color-10);
  text-transform: uppercase;
}

.hero-section .section-overlay {
  z-index: 2;
  opacity: 0.45;
}

.hero-section .container {
  position: relative;
  z-index: 2;
  height: 100%;
  padding-bottom: 50px;
}

.hero-section .container .row {
  height: 100%;
}


/*---------------------------------------
  ABOUT              
-----------------------------------------*/
.about-section {
  background-color: var(--secondary-color-10);
  border-bottom: var(--secondary-color-30) 1px solid;
}
.about-item {
  justify-content: center;
}
.about-info {
  text-align: center;
}

/*---------------------------------------
  WHYUS              
-----------------------------------------*/
.why-us-content {
  width: inherit;
  border: 0.5px solid var(--secondary-color-40);
  border-radius: 2px;
  text-align: center;
  overflow: hidden;
  transition: max-height 0.6s ease-in-out, padding 0.6s ease-in-out;
  max-height: 74px; /* Adjust this to fit the initial visible content */
  padding: 18px 16px 16px;
  background-color: #fff;
}

.why-us-title {
  z-index: 1; /* Keep the title above the hidden paragraph */
  display: flex;
  position: relative;
  text-align: center;
}
.why-us-title img {
  margin-right: 32px;
}
.why-us-title h4 span {
  line-height: 37px;
  font-weight: var(--font-weight-bold);
}

.why-us-hidden-paragraph {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
  padding: 0 20px; /* Ensure padding matches parent, with zero vertical padding initially */
  margin-top: 20px; /* Space between title and hidden paragraph */
}

.why-us-content:hover {
  max-height: 300px; /* Adjust this to fit the expanded content */
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.073);
}

.why-us-content:hover .why-us-hidden-paragraph {
  opacity: 1;
  max-height: 200px; /* Arbitrary large value to allow full expansion */
  padding: 20px; /* Apply full padding on hover */
  text-align: left;
}



/*---------------------------------------
  SERVICE & SOLUTION               
-----------------------------------------*/
.solution-active p, .solution-active h3{
  color: white !important;
}

/*---------------------------------------
  AWARDS              
-----------------------------------------*/
#award-carousel .item {
  margin: 20px;
}
#award-carousel .item:hover {
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.073);
  transition: transform 0.3s ease;
  z-index: 1000;
}
/*---------------------------------------
  PARTNERS              
-----------------------------------------*/
/*---------------------------------------
  F&Q              
-----------------------------------------*/
.plus-to-x {
  cursor: pointer;
}

.plus-to-x .horizontal, .plus-to-x .vertical {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 1.5px;
  background-color: var(--secondary-color-90);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

.plus-to-x .horizontal {
  transform: translate(-50%, -50%) rotate(0deg);
}

.plus-to-x .vertical {
  transform: translate(-50%, -50%) rotate(90deg);
}

#fandq .why-us-content:hover .horizontal {
  transform: translate(-50%, -50%) rotate(45deg);
}

#fandq .why-us-content:hover .vertical {
  transform: translate(-50%, -50%) rotate(-45deg);
}
/*---------------------------------------
  CERTIFICATE              
-----------------------------------------*/
.slick-next{
  background-image: url(/img/next-slick.svg) !important;
  right: -4%;
}
.slick-prev{
  background-image: url(/img/pre-slick.svg) !important;
  left: -4%;
}
.slick-next:before ,.slick-prev:before {
  content: none;
}
.slick-next,.slick-prev{
  position: absolute;
  top: 48%;
  background-color: #F2F2F2;
  color: #EE0033;
  width: 42px;
  height: 42px;
  border: #DDDDDD 1px solid;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  transform: translateY(-50%);
  content: none;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
}
.certificate-item{
  height: inherit;
  background-size: 200px;
  background-position: center;
  background-repeat: no-repeat;
}
/*---------------------------------------
  SCHEDULE              
-----------------------------------------*/
.schedule-section {
  background-image: url('../images/nainoa-shizuru-unsplash-blur.jpg');
  background-color: #242424;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.table-responsive {
	filter: drop-shadow(2px 2px 4px #606060);
}

.schedule-table {
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
}

.schedule-table .bg-warning {
  background: #f0a5a5 !important;
}

.schedule-table thead th {
  background-color: var(--secondary-color);
}

.schedule-table th,
.schedule-table tr,
.schedule-table td {
  border-bottom-color: #363a3e;
  padding: 30px;
}

.schedule-table tr:last-child th,
.schedule-table tr:last-child td {
  border-bottom-color: transparent;
}

.schedule-table thead th {
  border-right: 1px solid #c7460a;
  border-bottom-color: transparent;
}

.schedule-table th + td {
  border-bottom: 0;
}

.schedule-table thead th:last-child {
  border-right-color: transparent;
}

.schedule-table .pop-background-image {
  background-image: url('../images/artists/joecalih-UmTZqmMvQcw-unsplash.jpg');
}

.schedule-table .rock-background-image {
  background-image: url('../images/artists/abstral-official-bdlMO9z5yco-unsplash.jpg');
}

.schedule-table .country-background-image {
  background-image: url('../images/artists/soundtrap-rAT6FJ6wltE-unsplash.jpg');
}

.table-background-image-wrap {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: none;
  position: relative;
}

.schedule-table h3,
.schedule-table p {
  color: var(--white-color);
  position: relative;
  z-index: 2;
}


/*---------------------------------------
  PRICING              
-----------------------------------------*/
.pricing-thumb {
  border: 5px dotted var(--dark-color);
  border-radius: var(--border-radius-medium);
  position: relative;
  padding: 50px;
}

.pricing-thumb h3 small {
  display: inline-block;
  font-size: var(--p-font-size);
  margin-right: 15px;
}

.pricing-list {
  column-count: 2;
  padding-left: 20px;
}

.pricing-list-item {
  line-height: normal;
  margin-right: 10px;
  margin-bottom: 10px;
}

.pricing-tag {
  background-color: var(--secondary-color);
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-weight: var(--font-weight-bold);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}

.pricing-tag span {
  font-size: 180%;
  line-height: normal;
}

.pricing-thumb .link-fx-1 {
  color: var(--primary-color);
}

.pricing-thumb .link-fx-1:hover {
  color: var(--link-hover-color);
}


/*---------------------------------------
  CONTACT               
-----------------------------------------*/
.google-map {
  border-radius: var(--border-radius-medium);
}


/*---------------------------------------
  CUSTOM FORM               
-----------------------------------------*/
.custom-form .form-control {
  color: var(--p-color);
  margin-bottom: 24px;
  padding-top: 13px;
  padding-bottom: 13px;
  outline: none;
}

.custom-form button[type="submit"] {
  background: var(--custom-btn-bg-color);
  border: none;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-medium);
  transition: all 0.3s;
  margin-bottom: 0;
}

.custom-form button[type="submit"]:hover,
.custom-form button[type="submit"]:focus {
  background: var(--custom-btn-bg-hover-color);
  border-color: transparent;
}


/*---------------------------------------
  SITE FOOTER              
-----------------------------------------*/
.site-footer {
  background-color: var(--dark-color);
  position: relative;
  overflow: hidden;
  padding-bottom: 30px;
}

.site-footer-top {
  background-color: var(--secondary-color);
  background-image: url('../images/nainoa-shizuru-NcdG9mK3PBY-unsplash.jpg');
  background-repeat: no-repeat;
  margin-bottom: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.site-footer-bottom {
  border-top: 1px solid #1f1c1c;
  margin-top: 60px;
}

.site-footer-title {
  color: var(--primary-color); 
}

.site-footer-link,
.copyright-text {
  color: var(--white-color);
}

.site-footer-links {
  padding-left: 0;
}

.site-footer-link-item {
  list-style: none;
  display: inline-block;
  margin-right: 15px;
}

.copyright-text {
  font-size: var(--copyright-font-size);
}


/*---------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  background: var(--secondary-color);
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--copyright-font-size);
  display: block;
  margin-right: 10px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 36px;
  transition: background 0.2s, color 0.2s;
}

.social-icon-link:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

.social-icon-link span {
  display: block;
}

.social-icon-link span:hover::before{
  animation: spinAround 2s linear infinite;
}

@keyframes spinAround {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg);
  }
}


/*---------------------------------------
  ANIMATION               
-----------------------------------------*/
.fade-text {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-text.visible {
  opacity: 1;
  transform: translateY(0);
}

@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translateX(700px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animated-element {
  animation: fadeRight 3s cubic-bezier(0.47, 0, 0.745, 0.715);
}

/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (max-width: 991px) {
  h1 {
    font-size: 62px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  .section-padding .text-center{
    padding-bottom: 0px;
  }
  .section-padding-small {
    padding-top: 16px;
    padding-bottom: 16px;
  }
 
  .navbar {
    background-color: var(--dark-color);
  }

  .navbar-expand-lg .navbar-nav {
    padding-bottom: 30px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
  }

  .hero-section {
    padding-top: 150px;
    height: calc(100vh - 170px);
}

  .pricing-thumb {
    padding: 35px;
  }

  .schedule-table h3 {
    font-size: 22px;
  }

  .schedule-table th {
    padding: 20px;
  }

  .schedule-table tr, 
  .schedule-table td {
    padding: 25px;
  }

  .ticket-section {
    padding-top: 130px;
  }

  .ticket-form {
    padding: 30px;
  }
}

@media screen and (max-width: 767px) {
  .custom-btn {
    font-size: 14px;
    padding: 10px 20px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 52px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .why-us-content {
    max-height: fit-content !important;
    padding: 5px 12px;
  }
}