/*.section-services:before {
    content: unset!important;
}*/
.home-cus-ourservice {
    padding: 55px 0px 29px 0px;
}
.home-cus-ourservice h2.section-title {
    opacity: 1;
}
.home-cus-ourservice h2.section-subtitle {
    margin-top: 8px;
}
.services-category .icon {
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 30px 0 22px 0px;
}
.icon img {
    width: 100%;
    height: auto;
    position: absolute;
    top: -50px;
    left: 0;
}

.collapsed .icon img {
    top: 0;
}

.collapsed:hover img {
    top: -50px;
}
.services-container-wrapper {
    position: relative;
}

.services-category {
    text-align: center;
    cursor: pointer;
}

.services-category h4 {
    font-size: 16px;
    display: block;
}

.services-container-wrapper {
    margin-top: 20px;
}

.collapse {
/*    display: block;*/
}

.service {
    /*    position: absolute;*/
    margin-top: 10px;
    width: 100vw;
    height: auto;
}
.service-items {
    background-color: #eaeaea;
    border-radius: 5px;
}
.service-items h4 {
    margin-bottom: 10px;
}
.col-service, .section-our-services .products-line {
    position: unset;
    text-align: center;
}

.service-item {
    position: relative;
}

    .service-item .container {
        display: inline-flex;
        text-align: left;
    }

    .service-item .col-items {
        padding: 20px;
    }

    .service-item h4 {
        font-size: 18px;
/*        font-weight: bold;*/
        cursor: pointer;
    }

.service-description p {
    font-size: 16px;
}

.service .triangle {
    position: absolute;
    top: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #eaeaea transparent;
}

.service-item .col-items {
    cursor: pointer;
}
.service-item .col-items:hover h4 {
    color: #ee0033;
}

.service-category-title {
    font-size: 18px;
/*    font-weight: bold;*/
    cursor: pointer;
}

.services-category:hover .service-category-title {
    color: #ee0033;
}

    .section-subtitle {
        margin-top: 20px;
    }


.services-category h4 {
    color: #ee0033;
}

.services-category.collapsed h4 {
    color: #252525;
}

/*15 nam*/
/*.services-category {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding-bottom: 40px;
    position: relative;
}
    .services-category h4 {
        max-height: 20px;
    }
    .services-category .icon {
        margin: 15px 0 15px 0px;
    }
    .services-category.collapsed .icon-prev {
        transform: rotate(0deg);
    }
    .services-category .icon-prev {
        background: url("/Themes/itmetech/img/svg/ic-muiten.svg") top left no-repeat;
        transform: rotate(180deg);
        position: absolute;
        bottom: 10px;
        right: 15px;
        font-size: 10px;
        width: 10px;
        height: 10px;
    }

.service-item .container {
    margin-bottom: 15px;
    width: 1088px;
}
.card.card-solution-container {
    box-shadow: none !important;
    border: 1px solid #E5E5E5 !important;
}*/
