.pop-head-2 {
    background-image: url("../../imgs/landingpage/pop-img-3.png")
}

#CustomerTalkToIDCBlock .quote-2 {
    background-image: url("../../imgs/landingpage/quote-2.png");
}
.pop-3-bg {
    background-image: url("../../imgs/landingpage/pop-img-6.png");
}
